@for $i from 0 through 100 {
  $emValue: ($i + 1em) - 1em;
  // MARGIN
  .margin-top-#{$i} {
    margin-top: $emValue;
  }
  .margin-bottom-#{$i} {
    margin-bottom: $emValue;
  }
  .margin-left-#{$i} {
    margin-left: $emValue;
  }
  .margin-right-#{$i} {
    margin-right: $emValue;
  }
  // PADDING
  .padding-top-#{$i} {
    padding-top: $emValue;
  }
  .padding-bottom-#{$i} {
    padding-bottom: $emValue;
  }
  .padding-left-#{$i} {
    padding-left: $emValue;
  }
  .padding-right-#{$i} {
    padding-right: $emValue;
  }
}
$font10pt: 0.8300920204603125rem;
$font15pt: 1.2451380306905rem;
$font25pt: 2.0752300625rem;

@for $i from 10 through 25 {
  $value: ($i + 1px) - 1px;
  $remSize: $value / 16px;
  .font-#{$i} {
    font-size: #{$remSize}rem !important;
  }
}